@import 'tailwindcss';

@theme {
  --color-blue-0: #edf3ff;
  --color-blue-100: #dee9ff;
  --color-blue-200: #9ebdff;
  --color-blue-300: #7ea7ff;
  --color-blue-400: #5d91ff;
  --color-blue-500: #2469ff;
  --color-blue: #2469ff;
  --color-blue-600: #3367d5;
  --color-blue-700: #2952aa;
  --color-blue-800: #1f3e80;
  --color-blue-900: #142955;
  --color-blue-1000: #0c1933;
  --color-gray-100: #fbfbfb;
  --color-gray-200: #f6f6f6;
  --color-gray-300: #d9d9d9;
  --color-gray-400: #b3b3b3;
  --color-gray-500: #808080;
  --color-gray-600: #4d4d4d;
  --color-gray-700: #262626;
  --color-darkblue: #22204d;
  --color-link: #3670e9;
  --color-alert-yellow: #f59e0b;
  --color-green-0: #e3f7f0;
  --color-green-500: #10b981;
  --color-red-0: #f3dce4;
  --color-red-500: #a10a3c;
  --color-red-600: #860832;
  --spacing-min: 6px;
  --spacing-xs: 12px;
  --spacing-3_5: 14px;
  --spacing-s: 18px;
  --spacing-5_5: 22px;
  --spacing-m: 24px;
  --spacing-l: 40px;
  --spacing-xl: 60px;
  --spacing-17: 68px;
  --spacing-xxl: 90px;
  --spacing-maximum: 120px;
  --max-width-title: 560px;
  --max-width-card: 328px;
  --max-height-typology: 560px;
  --min-height-blogmobile: 340px;
  --min-height-blog: 520px;
  --variant-padding-group-hover: enabled;
  --variant-border-width-focus: enabled;
  --text-caption: 0.75rem;
  --text-caption-line-height: 0.825rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.14rem;
  --text-base: 1rem;
  --text-base--line-height: 1.3rem;
  --text-para: 1rem;
  --text-para--line-height: 1.5rem;
  --text-title-s: 1.125rem;
  --text-title-s--line-height: 1.234rem;
  --text-title-m: 1.5rem;
  --text-title-m--line-height: 1.8rem;
  --text-title-l: 2rem;
  --text-title-l--line-height: 2.2rem;
  --text-title-xl: 2.5rem;
  --text-title-xl--line-height: 2.5rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --box-shadow-sm: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  --box-shadow-sm-reverse: 0 -2px 4px 0 rgba(0, 0, 0, 0.12);
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.12);
  --box-shadow-md-reverse: 0 -4px 6px -1px rgba(0, 0, 0, 0.12);
  --font-ibm: 'IBM Plex Sans Condensed', sans-serif;
}

@source inline("bg-red-{200,600}");
@source inline("bg-blue-{200,600,500}");
@source inline("text-blue-500");
@source inline("text-red-500");
@source inline("bg-green-{200,600}");
@source inline("list-decimal");
@source inline("pt-xs");
@source inline("pb-s");
@source inline("pb-min");

html {
  @apply font-ibm font-light text-[14px] sm:text-[16px] leading-[130%] bg-gray-100;
}

.app-container {
  @apply px-4 sm:px-8 lg:px-4 max-w-screen-lg 2xl:max-w-screen-xl mx-auto;
}

/* Basic container slide that needs to be customized with right margin and flex-basis */
.container-slide {
  @apply flex-none grow-0 shrink-0 first:ml-4 sm:first:ml-8 lg:first:ml-[calc((100vw-var(--breakpoint-lg))/2+var(--spacing)*4)] 2xl:first:ml-[calc((100vw-var(--breakpoint-xl))/2+var(--spacing)*4)];
}

.btn-primary {
  @apply inline-flex transition-colors ease-in-out duration-300 items-center border leading-none border-transparent font-medium text-white bg-blue hover:bg-white hover:border-blue hover:text-blue focus:outline-none;
}
.btn-secondary {
  @apply inline-flex transition-colors ease-in-out duration-300 items-center border leading-none border-blue font-medium text-blue bg-transparent hover:bg-blue hover:border-transparent hover:text-white focus:outline-none;
}
.btn-primary-white {
  @apply inline-flex transition-colors ease-in-out duration-300 items-center border leading-none border-transparent font-medium text-blue bg-white hover:bg-transparent hover:border-white focus:outline-none;
}
.btn-secondary-white {
  @apply inline-flex transition-colors ease-in-out duration-300 items-center border leading-none border-white font-medium text-white bg-transparent hover:bg-white hover:border-transparent hover:text-blue focus:outline-none;
}
.btn-s {
  @apply px-4 sm:px-5 py-3;
}
.btn-l {
  @apply px-5.5 py-4 sm:px-8;
}
.btn-block {
  @apply w-full lg:w-auto justify-center lg:justify-start;
}
.btn-icon {
  @apply h-4 w-4 fill-current transition-colors ease-in-out duration-300;
}
.badge-disabled {
  @apply text-gray-600 bg-gray-100;
}
.social-share-button {
  color: var(--color-brand);
}
.social-share-button:hover {
  color: var(--color-brand);
}

.highlight-top {
  @apply h-10 sm:h-16 w-full;
  margin-bottom: -1px; /* fix */
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.highlight-bottom {
  @apply h-10 sm:h-16 w-full;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.highlight-narrow {
  @apply h-6 sm:h-10;
}

.card-primary {
  @apply border border-blue;
}

.card-primary h4,
.card-primary span {
  @apply text-blue;
}

.callout-section svg {
  @apply block mx-auto my-s sm:my-m w-auto h-9 sm:h-12;
}
.form-input {
  /* @apply w-full rounded-lg border px-3 py-2 focus:outline-none focus:ring focus:ring-blue-500/30; */
  @apply block w-full sm:text-sm border-gray-300 border px-3 py-2 rounded-md focus:outline-none focus:ring-blue focus:border-blue;
}
.form-label {
  @apply font-semibold mb-xs text-gray-700 text-sm;
}
.form-input-error {
  @apply border-red-300 text-red-900 placeholder-red-300 focus:ring-red-500 focus:border-red-500;
}
.form-feedback-error {
  @apply text-red-400 mt-2 text-sm;
}

/* Divider */
.divider {
  @apply border-b border-gray-300 mx-auto w-full;
  @media (min-width: 1024px) {
    width: 560px;
  }
}

/* Banner of references and agency pages */
.banner-image {
  width: 100%;
  height: 50vh;
  @media (min-width: 1024px) {
    height: 60vh;
  }
}

.item-selected {
  @apply bg-blue-100 text-blue;
}

.item-selected p {
  @apply text-blue;
}

.item-selected div {
  @apply bg-blue;
}

.typology-list article:nth-child(even) {
  @apply lg:flex-row-reverse;
}

.typology-list article:nth-child(even) p,
.typology-list article:nth-child(even) h4 {
  @apply lg:ml-auto px-s lg:pl-m pr-m;
}

.typology-list article:nth-child(odd) p,
.typology-list article:nth-child(odd) h4 {
  @apply lg:ml-l px-s lg:pr-m;
}
